NEXT_PUBLIC_BASE_RPC_URL=https://mainnet.base.org
NEXT_PUBLIC_SOROBAN_RPC_URL=https://rpc.stellar.org:443
NEXT_PUBLIC_STELLAR_HORIZON_URL=https://horizon.stellar.org

# Crossmint (obtener de https://www.crossmint.com/console/projects/apiKeys)
NEXT_PUBLIC_CROSSMINT_API_KEY=
